html, body {
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial;
}
.head{
    font-size: 50px;
    margin-left: 5vw;
}


/* Login */
#LoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 30vh;
    justify-content: center;
    text-align: center;
}
#LoginForm h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
#LoginForm label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
#LoginForm input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
}
#LoginForm button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#LoginForm button:hover {
    background-color: #005299;
}


/* Register */
#RegisterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#RegisterForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
#RegisterForm input[type="text"] {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
#RegisterForm button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Logout */
#LogoutForm {
    display: none;
    position: absolute;
    top: 3vh;
    right: 5vw;
}
#LogoutForm > button {
    background-color: #85B5D6;
}

#viewProfileForm {
    display: none;
    position: absolute;
    top: 3vh;
    right: 10vw;
}

/* Feeds */
#output {
    display: none;
    position: absolute;
    left: 5vw;
    right: 5vw;
    bottom: 0;
    margin: auto;
    width: 90vw;
    height:70vh;
    background-color: #FCFCF5;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
}

#userProfileFeeds {
    display: none;
    position: absolute;
    left: 5vw;
    right: 5vw;
    bottom: 0;
    margin: auto;
    width: 90vw;
    height:70vh;
    background-color: #FCFCF5;
    border: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
}


#UserUpdateProfile {
    display: none;
}

#feed {
    height: 30%;
}

.feed-container {
    align-items: center;
}

.Feed-Image {
    margin-right: 10px;
    min-width: 100px;
    min-height: 15px;
}

.Feed-Comment-Button {
    background-color: #85B5D6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    min-width: 5vw;
    min-height: 1vh;
}

